{% extends "base.html" %}
{% block title %}banners{% endblock title %}
{% block body %}


<div class="container">
  <h1 class="text-center fw-bold fst-italic display-4 m-0" style="color: #808080;">Animations</h1>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/vid4.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
    
            <div class="card-body">
              <p class="card-text">This is a fully "Animated overlay", where every single element, including panels, alerts, and more, is animated to create a dynamic and professional look. The fluid animations capture attention and enhance the visual appeal, helping to attract viewers and keep them engaged throughout the stream. It's designed to elevate the overall streaming experience, making your stream stand out.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/vid7.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="card-body">
              <p class="card-text">This is a fully "Animated overlay", where every single element, including panels, alerts, and more, is animated to create a dynamic and professional look. The fluid animations capture attention and enhance the visual appeal, helping to attract viewers and keep them engaged throughout the stream. It's designed to elevate the overall streaming experience, making your stream stand out..</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/vid3.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="card-body">
              <p class="card-text">This is an "Animated outro" video used at the end of your content, where 'Thanks for watching' appears with smooth, cool animations. It adds a professional touch to your videos, making the ending engaging and visually appealing, leaving a lasting impression on viewers and encouraging them to stay connected with your channel.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/intro.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="card-body">
              <p class="card-text">This is an "Animated intro" video for YouTube, featuring the client's favorite character, Phoenix, appearing smoothly with a fiery theme. The dynamic flames and bold visuals set the tone right from the start, leaving a strong impression and giving the video a powerful and captivating introduction.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/vid8.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="card-body">
              <p class="card-text">This is an "Animated intro" for a YouTube video, featuring a vector character of the client holding drumsticks, with a drum placed in front of them. The theme is vibrant, using bold yellow tones to create an energetic atmosphere. The smooth animations and lively design make for a captivating introduction, setting a positive tone for the video.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/outro.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="card-body">
              <p class="card-text">This is an "Animated outro" video for YouTube, featuring the client's favorite character, Phoenix, appearing smoothly with a fiery theme at the end of the video. The dynamic flames and bold visuals create a memorable conclusion, leaving a strong impression  with a 'Thanks for watching' message that enhances the overall viewing experience.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/vid9.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="card-body">
              <p class="card-text">This is a fully "Animated overlay", where every single element, including panels, alerts, and more, is animated to create a dynamic and professional look. The fluid animations capture attention and enhance the visual appeal, helping to attract viewers and keep them engaged throughout the stream. It's designed to elevate the overall streaming experience, making your stream stand out.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/vid10.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <div class="card-body">
              <p class="card-text">This is a fully "Animated overlay", where every single element, including panels, alerts, and more, is animated to create a dynamic and professional look. The fluid animations capture attention and enhance the visual appeal, helping to attract viewers and keep them engaged throughout the stream. It's designed to elevate the overall streaming experience, making your stream stand out.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <video width="100%" controls>
                <source src="/static/videos/intro/vid11.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
    
            <div class="card-body">
              <p class="card-text">This is a fully "Animated overlay", where every single element, including panels, alerts, and more, is animated to create a dynamic and professional look. The fluid animations capture attention and enhance the visual appeal, helping to attract viewers and keep them engaged throughout the stream. It's designed to elevate the overall streaming experience, making your stream stand out.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    



{% endblock body  %} 