{% extends "base.html" %}
{% block title %}banners{% endblock title %}
{% block body %}
<div class="container">
  <h1 class="text-center fw-bold fst-italic display-4 m-0" style="color: #808080;">Banners</h1>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/1.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/2.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/3.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/4.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate..</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/11.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate..</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/12.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/13.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/8.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/banner/9.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This banner is designed to match the logo theme, featuring devilish borders that give it a bold and edgy look. It seamlessly integrates all social media links, making it visually striking while keeping your brand's presence unified and easy to navigate.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    

{% endblock body  %} 