{% extends "base.html" %}
{% block title %}Branding logos{% endblock title %}
{% block body %}

<div class="container">
    <h1 class="text-center fw-bold fst-italic display-4 m-0" style="color: #808080;">Branding Logos</h1>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/1.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Clove Mediterranean", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/20.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for  "Karnabithiae forever", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/19.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "All Thing Charcuteri", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                </div>
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/4.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Cannonball Produce", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/5.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Go Lease Lightning" , designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/6.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Tovey House", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                </div>
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/7.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Mesnil" , designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a  impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                </div>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/8.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo , designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/9.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Mosaic Cafe", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a  impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<div class="container">
    
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/10.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for ""One OF One"", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for  impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/11.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Virginia Chargers",, designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/12.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo of "Snow Wolf Creations"  , designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/13.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Robusto Studios", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision ..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/14.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Town And county", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/15.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Shale Audio", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a  impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/16.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Beard And Bytes", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/17.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo , designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a  impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/blogos/21.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a branding logo for "Raven Leafs", designed to reflect innovation and professionalism. The logo incorporates the client's preferred color theme and embodies the brand's core values, perfectly tailored to match their vision for a modern and impactful brand identity..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    
    
    
 {% endblock body  %} 