{% extends "base.html" %}
{% block title %}Gaming logos{% endblock title %}
{% block body %}

<div class="container">
  <h1 class="text-center fw-bold fst-italic display-4 m-0" style="color: #808080;">Gaming Logos</h1>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/1.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">"This is a mascot logo featuring the client's favorite character along with their gamer tag and preferred color theme, perfectly tailored to match their vision".</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/2.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a Reaper logo designed with an attractive dark color theme, perfectly capturing the essence of mystery , exactly as envisioned by my client.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/3.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo of a dog designed with a  fairy tale theme, perfectly capturing the essence of magic and wonder, exactly as envisioned by my client.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/4.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo of Simmba designed with a pink color theme, perfectly capturing the essence of magic and wonder, exactly as envisioned by my client..</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/5.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a detailed vector art logo with my client's clear image, designed with a devilish theme, perfectly capturing the essence of boldness and intensity.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/6.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text"> This is a mascot logo featuring the client's favorite character along with their gamer tag and preferred color theme, perfectly tailored to match their vision.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/7.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a detailed vector art logo with my client's clear image, designed with a devilish theme, perfectly capturing the essence of boldness and intensity.</p>
              <div class="d-flex justify-content-between align-items-center">
                
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/8.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo featuring the client's favorite character along with their gamer tag and preferred color theme, perfectly tailored to match their vision.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/10.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo of a dog designed with a  fairy tale theme, perfectly capturing the essence of magic and wonder, exactly as envisioned by my client.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/11.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo of a dog designed with a  fairy tale theme, perfectly capturing the essence of magic and wonder, exactly as envisioned by my client.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/12.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo of a dog designed with a  fairy tale theme, perfectly capturing the essence of magic and wonder, exactly as envisioned by my client.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/13.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo featuring the client's favorite character along with their gamer tag and preferred color theme, perfectly tailored to match their vision.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/14.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo featuring the client's favorite character along with their gamer tag and preferred color theme, perfectly tailored to match their vision.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/15.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo featuring the client's favorite character along with their gamer tag and preferred color theme, perfectly tailored to match their vision.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/logo/9.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This is a mascot logo featuring the client's favorite character along with their gamer tag and preferred color theme, perfectly tailored to match their vision.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
 {% endblock body  %} 