{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}

<div class="container">
  <h1 class="text-center fw-bold fst-italic display-4 m-0" style="color: #808080;">Overlays</h1>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/1.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/2.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/3.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/4.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/5.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/6.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/7.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/8.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/overlay/9.jpeg" class="d-block w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text">This overlay is crafted to align with the client's vision, featuring their favorite character, color theme, and gamertag. The package includes everything needed for a personalized setup: 1 'Overlay,' 1 'Facecam,' 1 'Chat Box,' 3 'Alerts,' and 6 'Panels,' delivering a complete and cohesive look.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock body  %} 